:root {
  --nav-background: #b45a5a;
  --text-color: #fff;
  --text-color-100: #bca035;
  --text-color-50: #9ca3af;
  --shadow-color: #bdbdbd;
  --box-shadow: rgba(243, 244, 246, 0.3);
  --sidebar-dark: #424d50;

  /* RGBA Colors */
  --border-color: rgba(136, 136, 136, 0.3);

  /* Effects */
  --hover-color: rgba(33, 33, 33, 0.1);
  --hover-color: rgba(51, 51, 51, 0.3);

  /* Z-indexes */
  --highest-index: 30;
  --index-20: 20;
  --index-10: 10;
  --index-5: 5;
  --index-1: 1;
}
.nav {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--nav-background);
  z-index: var(--index-10);
}
.logo {
  color: #f9f9f9;
  font-size: 1.5rem;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  margin: 0 1.7rem;
  border-radius: 50%;
  padding: 0.3rem;
  transition: 0.3s ease;
}
.btn-description {
  color: rgb(17, 17, 17);
  font-weight: lighter;
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  margin-top: -3px;
}
.nav-btn img {
  width: 1.6rem;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.list-item-inline {
  display: inline-block;
}
.nav-btn:focus {
  transform: scale(0.9);
  background-color: var(--hover-color);
}

/* Sidebar */

.sidebar {
  display: inline-block;
  flex-direction: column;
  width: 12rem;
  height: 100%;
  padding: 1.5rem 0 0 0;
  background-color: var(--sidebar-dark);
  border-right: 1px solid gray;
}
.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  padding: 1.25rem;
  margin: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  width: 70%;
  height: 1.5rem;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebar-btn {
  display: flex;
  flex-direction: row !important;
  text-decoration: none;
  justify-content: left;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
.sidebar .btn-description {
  font-size: 1.04rem;
  margin: 0 0 0 1rem;
  color: var(--text-color);
}
.sidebar-btn:focus {
  transform: none;
  background-color: transparent;
}
.sidebar-list-item:hover {
  background-color: var(--hover-color);
  color: #fff;
}

/* Animation */
@keyframes drawer {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
