/* NavBar */
.navbar-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: fit-content;
}
.left-container {
  background-color: #6bc7e4;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.menu-logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 10rem;
  align-items: center;
  text-align: center;
}
.left-container li {
  list-style: none;
}
.search-box {
  display: flex;
  width: 450px;
  background: white;
  padding: 0rem;
  margin: 0rem;
  height: 45px;
  border-radius: 0px;
}
.search {
  padding: 0rem;
  height: inherit;
  width: 200px;
  max-width: 300px;
  border-radius: 0;
}
.search-btn {
  color: #f2f6f8;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  background-color: #232f34;
}
.right-container {
  background-color: rgb(221, 221, 221);
  margin-right: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  align-self: center;
  width: fit-content;
}
.logo {
  margin-left: 2rem;
  margin-top: 10px;
}
label {
  cursor: pointer;
}
.account-info {
  display: none;
  position: absolute;
  background: #424d50;
  padding: 10px 20px;
  z-index: 1;
  padding: 1rem 2rem;
  width: max-content;
  top: 4.15rem;
  right: 2rem;
}
.account-info .user-name {
  width: max-content;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  color: rgb(247, 240, 240);
  font-size: 1.15rem;
  font-weight: 500;
}
.account-info .user-email {
  width: max-content;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  color: rgb(241, 235, 235);
}
.account-info button {
  padding: 0.5rem 1.5rem;
  width: max-content;
  cursor: pointer;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.user-info .btn-description {
  font-size: 1.04rem;
  margin: 1rem;
  text-align: left;
  color: var(--text-color);
}

#toogle {
  display: none;
}
#toogle:checked ~ .account-info {
  display: flex;
}
.sidenav-slider {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  height: 100vh;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 100%;
  padding: 1.5rem 0 0 0;
  background-color: #424d50;
  border-right: 1px solid gray;
}
.sidebar .closebtn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}
.sidebar-list-item {
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease;
  padding: 0.5rem 1.25rem;
  margin: 1rem;
  cursor: pointer;
  width: 80%;
  flex-wrap: wrap;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
}
.sidebar-btn {
  display: flex;
  flex-direction: row !important;
  text-decoration: none;
  justify-content: center;
  margin: 0 0 1.5rem 0;
  padding: 0;
}
.sidebar .btn-description {
  font-size: 1.04rem;
  margin: 0 0 0 1rem;
  color: var(--text-color);
}
.sidebar-btn:focus {
  transform: none;
  background-color: transparent;
}
.sidebar-list-item:hover {
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}
