.video-player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 2rem;
  padding: 0;
}
.video-player {
  position: relative;
  display: flex;
  width: 100%;
  margin-left: 14rem;
  flex-direction: column;
  justify-content: start;
}
.util-container {
  position: absolute;
  background-color: rgb(43, 40, 40);
  display: flex;
  width: 100%;
  padding: 1rem;
  bottom: -1.5rem;
  justify-content: space-between;
  height: max-content;
}
.icon {
  color: #fff;
  cursor: pointer;
}
