:root {
  --video-background: #424d50;
  --video-background-rgb: rgb(51, 51, 51);
  --text-color: rgb(22, 21, 21);
  font-family: "Merriweather Sans", sans-serif;
}

.video-card-desktop {
  width: 325px;
  height: 350px;
  background-color: var(--video-background);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.video-thumbnail {
  object-fit: contain;
  text-align: left;
  font-weight: lighter;
}
.video-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0.5rem 1rem 1rem;
  padding-left: 0.5rem;
  width: 100%;
}
.video-text {
  margin: 0;
  margin-left: 3px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  width: 98%;
  height: fit-content;
  text-align: left;
  font-weight: bold;
  align-self: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text-color);
}
.date {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  margin-left: 3px;
  text-align: left;
  margin-top: 0.5rem;
}
.credits {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 3px;
  text-align: left;
  margin-top: 0.5rem;
}
.option-container {
  display: flex;
  position: relative;
  top: -5rem;
  right: -18rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  width: 25px;
}
#option {
  display: none;
}
#option:checked + .options {
  display: flex;
}
.options {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  position: absolute;
  background: rgb(241, 239, 239);
  padding: 1rem;
  z-index: 10;
  right: 4rem;
  bottom: 2.5rem;
}
.option-select1 {
  border-bottom: 1px solid gray;
  margin-bottom: 0.25rem;
  background-color: rgb(212, 211, 211);
  padding: 0.25rem;
  cursor: pointer;
}
.option-select2 {
  border-bottom: 1px solid gray;
  padding: 0.25rem;
  margin-top: 0.25rem;
  background-color: rgb(212, 211, 211);
  cursor: pointer;
}
/* 
@media only screen and (min-width: 768px){
  .video-card-desktop{
      display:flex;
      margin: 0 2rem 0.5rem 0 !important;
      width:99% !important;
}
  .video-card{
      display:none
  }
}
@media only screen and (max-width: 768px){
  .video-card-desktop{
      display:flex !important;
      width:100%;
  }   
} */
