* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(252, 252, 252);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "sidenav videolist videolist"
    "sidenav videolist videolist";
}
.navbar {
  width: 100%;
  grid-area: navbar;
}
.sidenav {
  grid-area: sidenav;
  width: 20%;
}
.videolist {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 12rem);
  padding: 1rem;
  grid-area: videolist;
}
